.card {
  max-width: 413px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__title {
  max-width: 353px;
  margin: 12px 0 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
  padding: 0;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active {
  background-image: url(../images/red_liked_btn.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  background-image: url(../images/delete-btn_default.svg);
  background-color: transparent;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 371px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-btn_hover.png);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-btn {
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card__delete-btn {
    left: 246px;
  }
}
